/server/node_modules
server/logfile.txt
.idea
express-seed.iml

server/.env
server/.elasticbeanstalk/config.yml
obj/Debug/express-seed.njsproj.FileListAbsolute.txt
express-seed.njsproj
logfile.txt
*.sln
