# Enviroment file (secrets)
server/*.env

# NPM/Yarn packages
/server/node_modules

# Log files
/server/logfile.txt

# IDE files
.idea
express-seed.iml
server/.elasticbeanstalk/config.yml
obj/Debug/express-seed.njsproj.FileListAbsolute.txt
express-seed.njsproj
*.sln

# Build directory
server/build

#codeQL
server/codeql
server/codeql2
server/codeqlQuery
server/0.1.3